#root {
  padding: 10px;
  width: 100%;
}

#search {
  width: 100%;
  margin-bottom: 10px;
  font-size: 2em;
}

.wrapper {
  width: 100%;
  padding: 10px;
}

.results {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.gif {
  width: 100%;
  background-size: contain;
  border-radius: 5px;
}

/* Loading Animation */
.loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.loading span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px;
  transform-style: preserve-3d;
  transform-origin: center;
  background-color: #ccc;
  box-shadow: 0px 0px 10px white;
  animation: Loading 1.6s ease-in-out infinite;
}

@keyframes Loading {
  0%,
  40%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(5);
  }
}

/* Toast styles */
.toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding: 0px 20px;
  border-radius: 5px;
}

.toast-info {
  background-color: lightblue;
  border: blue 2px solid;
  color: blue;
}

.toast-error {
  background-color: lightpink;
  border: red 2px solid;
  color: red;
}