#root {
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search {
  width: 70%;
  margin-bottom: 10px;
  font-size: 2em;
  border: none;
  border-radius: 10px;
  text-align: center;
  filter: drop-shadow(2px 2px 4px #000000);

  background-image: url("/public/search.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-color: #3b3b3b;
  color: white;
  padding: 10px 40px;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 100%;
  min-height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 200px; /* To improve performance, I'm displaying the fixed_width versions of the gifs, which are always 200px wide */
  gap: 8px;
}

.gif {
  width: 100%;
  background-size: contain;
  border-radius: 10px;
  background-color: #111;
  filter: drop-shadow(2px 2px 4px #000000);
}

.gif:hover {
  opacity: 0.8;
}

/* Loading Animation */
.loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.loading span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px;
  transform-style: preserve-3d;
  transform-origin: center;
  background-color: white;
  box-shadow: 0px 0px 10px white;
  animation: Loading 1.6s ease-in-out infinite;
}

@keyframes Loading {
  0%,
  40%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(5);
  }
}

/* Toast styles */
.toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding: 0px 20px;
  border-radius: 5px;
}

.toast-info {
  background-color: lightblue;
  border: blue 2px solid;
  color: blue;
}

.toast-error {
  background-color: lightpink;
  border: red 2px solid;
  color: red;
}
